[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dockerblade = {path = ".", editable = true}
mypy = "*"

[requires]
python_version = "3.9"

[dev-packages]
mypy = "==0.770"
pytest = "==5.4.2"
ptpython = "==2.0.6"
tox = "==3.14.0"
coveralls = "==1.9.2"
pytest-cov = "==2.8.1"
sphinx-autodoc-typehints = "==1.10.3"
flake8 = "==3.8.2"
Sphinx = "==2.4.4"
